
.features {
	position: relative;
	@include pb(170);
	.features__content {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		display: flex;
		.left {
			z-index: 1;
			background: url(../img/left-planet.png) no-repeat right center;
			float: left;
			width: 33.33333%;
			min-height: 910px;
			@include r(980) {
				display: none;
			}
		}
		.right {
			width: 66.66666%;
			float: left;
			position: relative;
			z-index: 2;

			@include r(980) {
				width: 100%;
				float: none;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			.blocks {
				padding-left: 100px;
				padding-top: 200px;
				@include r(1024) {
					padding-top: 250px;
				}
				@include r(980) {
					padding-top: 100px;
					padding-left: 40px;
				}

				@include r(767) {
					padding-top: 100px;
					padding-left: 20px;
				}
				.content-block {
					float: left;
					width: 50%;
					padding: 0 40px 0 0;
					margin-bottom: 150px;

					&:nth-child(2n+1) {
						clear: both;
					}
					@include r(1500) {
						margin-bottom: 120px;
					}
					@include r(767) {
						float: none;
						margin-bottom: 50px;
						padding: 0 20px 0 0;
						width: 100%;
					}
					.img {
						float: left;
						width: 100px;
						@include r(1600) {

						}
						img {
							display: block;
							margin-top: -15px;
						}
					}
					.text {
						padding-left: 100px;
						@include r(1600) {

						}
						h6 {
							@include fz(18);
							@include lh(20);
							@include mb(20);
							@include r($M-) {
								font-size: 14px;
								line-height: 16px;
							}
						}
					}
				}
			}
		}
	}
}