$dark-blue: #060d1b;
$lang-bg: #131027;
$yell: #efbf1b;
$red: #eb0031;
$dark-red: #f02f2c;
$orange: #ff733c;
$light-orange: #ff9000;
$light-blue: #70abf5;
$text: #dbebff;
$grey: #898d95;
$primary-text: #8d99a8;
$telegram: #03acfa;

$dash-blue-l: #1a2234;
$dash-blue-m: #111829;
$dash-blue-d: #0c1322;
$dash-bg-pan-b: #192135;
$dash-bg-pan-h: #202944;
$dash-grey: #515b6a;
//fonts
$lato: 'Lato', sans-serif;
$mont: 'Montserrat', sans-serif;

//icons
